
// --- GLOBAL STYLES ---
  *,
  *::before,
  *::after {
    box-sizing: border-box;
  }

  :root {
    --text-color: rgba(30, 30, 30);
    --light-color: #AAAAAA;
    --dark-color: #2E2E31;
    --footer-color: #2E2E31;
    --footer-text-color: white;
    --link-hover-color:  rgba(100, 100, 100);
    --shadow-color: rgba(200, 200, 200, 0.7);
    --body-background-color: white;
    --menu-underline: rgb(248, 91, 0);
    
    --transition: 300ms ease-in; 

    --container-padding: 25px;
  }
  html{
    scroll-behavior: smooth;
    min-width: 220px
  }
  body {
    background-color: var(--body-background-color);
    font-family: 'Manrope', sans-serif;
    color: var(--text-color);
    word-wrap: break-word;
    line-height: 1.2;
    letter-spacing: 0.32px;
  }

  h1,
  h2,
  h3,
  h4,
  p {
    margin: 0;
    padding: 0;
  }


  a {
    text-decoration: none;
    color: inherit;
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  img {
    display: block;
    max-width: 100%;
    height: auto;
  }

  button {
    cursor: pointer;
    font-family: inherit;
  }
  .container{
    display: flex;
    max-width: 1440px;
    margin-left: auto;
    margin-right: auto;
    padding-left : var(--container-padding);
    padding-right : var(--container-padding);
  }
  .visualy-hidden{ 
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }


// --- HEADER styles ---

// mobile version
    header{
      position: relative;
      padding-top: 30px;
      padding-bottom: 30px;
      box-shadow: 0px 2px 0px 0px var(--shadow-color);
    }
    .lang {
      position: absolute;
      top: 0;
      width: auto;
      font-size: 12px;
      font-weight: 500;
      margin-right: 16px;
      border: none;
      color: var(--text-color);
      &:hover,
      &:focus{
        color: var(--link-hover-color);
      };
    }

    .header-address{
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 15px;
    }
    .header-city-tel-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 15px;
    }
    .header-city-tel-div p{
      font-weight: 600;
      font-size: 15px;
      font-style: normal;
      padding-top: 5px;
      padding-bottom: 5px;
      color:  var(--text-color);
    }
    .header-tel-ul{
      display: flex;
      align-items: center;
      gap: 10px;
    }
    .header-tel-ul .link{
      padding-top: 5px;
      padding-bottom: 5px;
      font-weight: 600;
      font-size: 15px;
      font-style: normal;//italic;
      letter-spacing: -0.04em;
      text-wrap: nowrap;
      color:  var(--text-color);
      transition: var(--transition);
      &:hover,
      &:focus {
          color: var(--link-hover-color);
      };
    }


    .header-social-icons-list{
      top: 0;
      right: 0;
      display: flex;
      gap: 5px;
    }
    .social-icons-item-link{
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      padding: 3px;
      border: 1px solid var(--text-color);
      border-radius: 25%;
      background-color: var(--footer-text-color);
      transition: var(--transition);
      &:hover,
      &:focus {
         transform: scale(1.1);  
      };
    }
    .social-icons-item{
      background-color: transparent;
    }
    .social-list-icon{
      width: 18px;
      height: 18px;
      fill: var(--text-color);
      text-align: center;
    }

    @media screen and (min-device-pixel-ratio: 1) and (max-width: 374.8px),
    screen and (min-resolution : 96dpi) and (max-width: 374.8px),
    screen and (min-resolution : 1dppx) and (max-width: 374.8px){
      .header-tel-ul{
        flex-direction: column;
        gap: 5px;
      }
      .header-social-icons-list{
        position: static;
        flex-direction: row;
      }
      
    }
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 424.8px),
    screen and (min-resolution : 96dpi) and (min-width: 424.8px),
    screen and (min-resolution : 1dppx) and (min-width: 424.8px){
      .header-city-tel-div{
        flex-direction: row;
        justify-content: center;
      }
      
    }



  // tablet version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 550px),
    screen and (min-resolution : 96dpi) and (min-width: 550px),
    screen and (min-resolution : 1dppx) and (min-width: 550px){
      .lang {
        width: 40px;
        font-size: 16px;
      }      
      .header-address{
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
        font-size: 16px;
        gap: 20px;
      }
      .header-tel-ul{
        gap: 15px; 
      }
      .header-social-icons-list{
        gap: 10px;
      }
    }

    @media screen and (min-device-pixel-ratio: 1) and (min-width: 768px) and (max-width: 1439.8px),
    screen and (min-resolution : 96dpi) and (min-width: 768px) and (max-width: 1439.8px),
    screen and (min-resolution : 1dppx) and (min-width: 768px) and (max-width: 1439.8px){
      .header-address p{
        font-size: 16px;
      }
      .header-tel-ul{
        font-size: 16px;
        gap: 15px; 
      }
      .social-icons-item-link{
        padding: 5px;
      }
      .social-list-icon{
        width: 20px;
        height: 20px;
      }
    }


    // desktop version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 1440px),
    screen and (min-resolution : 96dpi) and (min-width: 1440px),
    screen and (min-resolution : 1dppx) and (min-width: 1440px){
      .header-address p{
        font-size: 18px;
      }
      .header-tel-ul{
        gap: 20px; 
      }
      .header-tel-ul .link{
        font-size: 18px;
      }
      .social-icons-item-link{
        padding: 5px;
      }
      .social-list-icon{
        width: 25px;
        height: 25px;
      }
    }


// ---  MAIN styles ---

   // mobile version
    .hero-section{
      padding-top: 25px;
    }
    .hero-section .container{
      flex-direction: column;
      align-items: center;
    }
    .header-h1{
      font-weight: 700;
      font-size: 32px;
      line-height: 1.19;
      text-align: center;
      color: var(--text-color);
      margin-bottom: 35px;
    }
    .header-h2{
      display: none;
    }
    .gallery-section{
      margin-bottom: 70px;
    }
    .gallery-section .container{
      flex-direction: column;
      align-items: center;

    }
    .buttons-ul{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      gap: 15px;
      margin-bottom: 35px;
    }
    .buttons-ul-btn{
      padding: 5px;
      font-weight: 500;
      font-size: 13px;
      line-height: 1.15;
      text-align: center;
      color:  var(--text-color);
      border: none;
      background-color: transparent;
      text-wrap: nowrap;
      border-bottom: 2px solid transparent;
      transition: var(--transition);
      &:hover,
      &:focus{
        transform: scale(1.1); 
      }
    }

    .active{
      border-bottom: 2px solid var(--menu-underline);
      transform: scale(1.1); 
    }
    .is-visible-li{
      display: block;
    }
    .is-hidden-li{
      display: none;
    }

    .gallery{
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 20px;
    }
    .gallery-item{
      max-width: 325px;
      width: 100%;
      box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08);
      transition: var(--transition);
      &:hover,
      &:focus {
          transform: scale(1.03);
      };

    }
    .gallery-item-link{
      display: block;
    }
    .gallery-item-img{
      position: relative;
      overflow: hidden;
      align-content: center;  
    }
    .gallery-item-content{
      width: 100%;
      padding: 25px 10px 25px 10px;
    }
    .gallery-item-content p{
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      letter-spacing: 0.01em;
      color: var(--text-color);      
    }

  // tablet version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
    screen and (min-resolution : 96dpi) and (min-width: 768px),
    screen and (min-resolution : 1dppx) and (min-width: 768px){
      .gallery-item{
        max-width: 350px;
      }
      .header-h1{
        font-size: 50px;
        line-height: 1.2;
        letter-spacing: 0;
        margin-bottom: 50px;
      }
      .buttons-ul{
        gap: 45px;
        margin-bottom: 45px;
      }
      .buttons-ul-btn{
        font-size: 14px;
        line-height: 1.15;
      }
      .gallery-item{
        flex-basis: calc(100% - 20px);
      }
      .gallery-item-content p{
        font-size: 15px;
      }
    }

  // desktop version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 1440px),
    screen and (min-resolution : 96dpi) and (min-width: 1440px),
    screen and (min-resolution : 1dppx) and (min-width: 1440px){
      .gallery-item{
        max-width: 440px;
      }
      .header-h1{
        width: 1000px;
        font-size: 60px;
        letter-spacing: 0;
        margin-bottom: 50px;
      }
      .buttons-ul{
        gap: 45px;
        margin-bottom: 45px;
      }
      .buttons-ul-btn{
        font-size: 16px;
        line-height: 1.15;
      }
      .gallery-item-content p{
        font-size: 17px;
      }
    }


// --- FOOTER styles ---

   // mobile version
    footer{
      background-color: var(--footer-color);
      color:var(--footer-text-color);
      padding-top: 50px;
      padding-bottom: 50px;
      box-shadow: 2px 0px 0px 0px var(--shadow-color);
    }

    footer .container{
      flex-direction: column;
    }

    h3{
      font-size: 22px;
      font-weight: 500;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 12px;
    }

    h4{
      font-size: 13px;
      font-weight: 500;
      line-height: 1.3;
      text-align: center;
      margin-bottom: 30px;
    }

    .footer-address{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 14px;
      font-style: normal;
    }
    .footer-city-tel-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 10px;
    }
    .footer-address p{
      font-size: 14px;
      line-height: 1;
    }
    .footer-tel-ul{
      display: flex;
      gap: 15px;
      font-size: 15px;
      font-style: normal;//italic;
      line-height: 1;
      letter-spacing: -0.04em;
      transition: var(--transition);
      &:hover,
      &:focus {
        color: var(--);
      };
    }
    .footer-tel-ul .link{
      padding-top: 5px;
      padding-bottom: 5px;
      transition: var(--transition);
      &:hover,
      &:focus{
        color: var(--link-hover-color);
      }
    }

    .social-icons-list{
      display: flex;
      gap: 10px;
    }

    @media screen and (min-device-pixel-ratio: 1) and (max-width: 374.8px),
    screen and (min-resolution : 96dpi) and (max-width: 374.8px),
    screen and (min-resolution : 1dppx) and (max-width: 374.8px){
      .footer-tel-ul{
        flex-direction: column;
        gap: 5px;
      }
    }

  // tablet version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
    screen and (min-resolution : 96dpi) and (min-width: 768px),
    screen and (min-resolution : 1dppx) and (min-width: 768px){
      footer .container{
        flex-direction: row;
        justify-content: space-between;
        gap: 70px;
      }
      .footer-address{
        gap: 20px;
      }
      .footer-city-tel-div{
        flex-direction: row;
        gap: 20px;
      }
      h3{
        font-size: 24px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 25px;
      }
      h4{
        font-size: 15px;
        font-weight: 500;
        text-align: left;
        margin-bottom: 0px;
      }
      .footer-address p{
        font-size: 15px;
      }
      .footer-tel-ul{
        flex-direction: row;
        gap: 20px;
      }
      .footer-tel-ul .link{
        font-size: 15px;
        font-style: normal;//italic;
        letter-spacing: 0.02;
        text-wrap: nowrap;
      }
    }

    @media screen and (min-device-pixel-ratio: 1) and (min-width: 768px) and (max-width: 1150px),
    screen and (min-resolution : 96dpi) and (min-width: 768px)  and (max-width: 1150px),
    screen and (min-resolution : 1dppx) and (min-width: 768px)  and (max-width: 1150px){
      .footer-address{
        align-items: flex-start;
      }
      .footer-city-tel-div{
        flex-direction: column;
        align-items: flex-start;
      }
      .footer-tel-ul{
        flex-direction: column;
        align-items: flex-start;
      }
    }

   // desktop version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 1440px),
    screen and (min-resolution : 96dpi) and (min-width: 1440px),
    screen and (min-resolution : 1dppx) and (min-width: 1440px){
      .footer-address p{
        font-size: 18px;
      }
      .footer-tel-ul .link{
        font-size: 18px;
      }
    }


// --- ScrollUp button style ---

    // mobile version
    .btn-up-scroll {
      position: fixed;
      bottom: 275px;
      right: 20px;
      width: 44px;
      height: 44px;

      display: flex;
      align-items: center;
      justify-content: center;
      cursor: pointer;

      background-color: var(--body-background-color);
      border-radius: 25%;
      border: 1px solid var(--dark-color);
          
      &:focus,
      &:hover {
        transform: scale(1.1);
      }

      transition: opacity var(--transition), visibility var(--transition), transform var(--transition);
    }
    .scrol-up-arrow{
      position: absolute;
      z-index: 100;
      top: 0;
      width: 18px;
      height: 18px;
      vertical-align: middle;    
      transform: translateY(50%);
      pointer-events: none;
      fill: var(--dark-color);
    }
    .btn-up-scroll::before {
        position: absolute;
        width: 42px;
        height: 42px;
        content: "";
        border-radius: 25%;
        transition: transform var(--transition);
    }
    .btn-up-scroll.is-hidden-btn {
        visibility: hidden;
        opacity: 0;
        pointer-events: none;
        transform: translateY(100%);
    }

    @media screen and (min-device-pixel-ratio: 1) and (max-width: 219.8px),
    screen and (min-resolution : 96dpi) and (max-width: 219.8px),
    screen and (min-resolution : 1dppx) and (max-width: 219.8px){
        .btn-up-scroll {
          bottom: 380px;
        }
    }
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 220px) and (max-width: 329.8px),
    screen and (min-resolution : 96dpi) and (min-width: 220px) and (max-width: 329.8px),
    screen and (min-resolution : 1dppx) and (min-width: 220px) and (max-width: 329.8px){
        .btn-up-scroll {
          bottom: 360px;
        }
    }  
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 330px) and (max-width: 375px),
    screen and (min-resolution : 96dpi) and (min-width: 330px) and (max-width: 375px),
    screen and (min-resolution : 1dppx) and (min-width: 330px) and (max-width: 375px){
        .btn-up-scroll {
          bottom: 330px;
        }
    }    

  // tablet version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 768px),
    screen and (min-resolution : 96dpi) and (min-width: 768px),
    screen and (min-resolution : 1dppx) and (min-width: 768px){
      .btn-up-scroll {
        bottom: 250px;
      }
    }

  // desktop version
    @media screen and (min-device-pixel-ratio: 1) and (min-width: 1440px),
    screen and (min-resolution : 96dpi) and (min-width: 1440px),
    screen and (min-resolution : 1dppx) and (min-width: 1440px){
      .btn-up-scroll {
        bottom: 190px;
      }
    }